# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
.ipynb_checkpoints/

# Jupyter Notebook
.ipynb_checkpoints

# Video files (too large for git)
*.mp4
*.avi
*.mov

# Claude
.claude/

# Other repos
mathdial_repo/
